<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dev">
            <group id="virtual_customer" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Virtual Customer Sessions</label>
                <field id="debug_using_request" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Debugging using request header</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Listen to DEBUG-CUSTOMER header</comment>
                </field>
            </group>
        </section>
    </system>
</config>
